In [1]:
import pandas as pd ##imports pandas as pd
import numpy as np ##imports numpy as np

import matplotlib.pyplot as plt ##imports matplotlib.pyplot as plt
import seaborn as sns ##imports seaborn as sns

import csv ##imports csv

In [ ]:
df = pd.read_csv('household_energy_consumption.csv') ##reads the csv file and stores it in a dataframe called df

In [3]:
display(df) ##displays the dataframe

,Household_ID,Date,Energy_Consumption_kWh,Household_Size,Avg_Temperature_C,Has_AC,Peak_Hours_Usage_kWh
0,H00001,2025-04-01,8.4,4,17.8,No,3.2
1,H00001,2025-04-02,7.9,4,17.3,No,2.8
2,H00001,2025-04-03,9.2,4,18.6,No,3.0
3,H00001,2025-04-04,7.9,4,18.2,No,2.7
4,H00001,2025-04-05,9.6,4,11.9,No,3.2
...,...,...,...,...,...,...,...
89995,H12857,2025-04-04,5.0,2,19.3,No,1.5
89996,H12857,2025-04-05,5.3,2,16.1,No,1.7
89997,H12857,2025-04-06,4.3,2,14.6,No,1.5
89998,H12857,2025-04-07,7.2,2,18.2,No,2.6
89999,H12857,2025-04-08,7.2,2,18.2,No,2.6

In [4]:
df.info() ##displays the information about the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90000 entries, 0 to 89999
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Household_ID            90000 non-null  object
 1   Date                    90000 non-null  object
 2   Energy_Consumption_kWh  90000 non-null  float64
 3   Household_Size          90000 non-null  int64
 4   Avg_Temperature_C       90000 non-null  float64
 5   Has_AC                  90000 non-null  object
 6   Peak_Hours_Usage_kWh    90000 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 4.8+ MB

In [5]:
df['Date'] = pd.to_datetime(df['Date']) ##converts the 'Date' column to datetime format

In [7]:
df.isnull().sum() ##checks for null values in the dataframe

Household_ID              0
Date                      0
Energy_Consumption_kWh    0
Household_Size            0
Avg_Temperature_C         0
Has_AC                    0
Peak_Hours_Usage_kWh      0
dtype: int64

In [8]:
df.columns ##displays the columns in the dataframe

Index(['Household_ID', 'Date', 'Energy_Consumption_kWh', 'Household_Size',
       'Avg_Temperature_C', 'Has_AC', 'Peak_Hours_Usage_kWh'],
      dtype='object')

In [9]:
df = df.rename(columns={'Household_ID': 'Household ID' , 'Energy_Consumption_kWh': 'Energy Consumption KWH',
                        'Household_Size': 'Household Size', 'Avg_Temperature_C': 'Avg Temperature C',
                        'Has_AC': 'Has AC', 'Peak_Hours_Usage_kWh': 'Peak Hours Usage KWH'}) ##renames the columns in the dataframe

In [10]:
display(df) ##displays the dataframe with the new column names

,Household ID,Date,Energy Consumption KWH,Household Size,Avg Temperature C,Has AC,Peak Hours Usage KWH
0,H00001,2025-04-01,8.4,4,17.8,No,3.2
1,H00001,2025-04-02,7.9,4,17.3,No,2.8
2,H00001,2025-04-03,9.2,4,18.6,No,3.0
3,H00001,2025-04-04,7.9,4,18.2,No,2.7
4,H00001,2025-04-05,9.6,4,11.9,No,3.2
...,...,...,...,...,...,...,...
89995,H12857,2025-04-04,5.0,2,19.3,No,1.5
89996,H12857,2025-04-05,5.3,2,16.1,No,1.7
89997,H12857,2025-04-06,4.3,2,14.6,No,1.5
89998,H12857,2025-04-07,7.2,2,18.2,No,2.6
89999,H12857,2025-04-08,7.2,2,18.2,No,2.6

In [11]:
df.drop(columns=['Household ID'], inplace=True) ##drops the 'Household ID' column from the dataframe

In [12]:
display(df) ##displays the dataframe with the new column names

,Date,Energy Consumption KWH,Household Size,Avg Temperature C,Has AC,Peak Hours Usage KWH
0,2025-04-01,8.4,4,17.8,No,3.2
1,2025-04-02,7.9,4,17.3,No,2.8
2,2025-04-03,9.2,4,18.6,No,3.0
3,2025-04-04,7.9,4,18.2,No,2.7
4,2025-04-05,9.6,4,11.9,No,3.2
...,...,...,...,...,...,...
89995,2025-04-04,5.0,2,19.3,No,1.5
89996,2025-04-05,5.3,2,16.1,No,1.7
89997,2025-04-06,4.3,2,14.6,No,1.5
89998,2025-04-07,7.2,2,18.2,No,2.6
89999,2025-04-08,7.2,2,18.2,No,2.6

In [13]:
df = pd.get_dummies(df, columns=['Has AC'], drop_first=True) ##converts the 'Has AC' column to dummy variables and drops the first column

In [14]:
display(df) ##displays the dataframe with the new column names

,Date,Energy Consumption KWH,Household Size,Avg Temperature C,Peak Hours Usage KWH,Has AC_Yes
0,2025-04-01,8.4,4,17.8,3.2,False
1,2025-04-02,7.9,4,17.3,2.8,False
2,2025-04-03,9.2,4,18.6,3.0,False
3,2025-04-04,7.9,4,18.2,2.7,False
4,2025-04-05,9.6,4,11.9,3.2,False
...,...,...,...,...,...,...
89995,2025-04-04,5.0,2,19.3,1.5,False
89996,2025-04-05,5.3,2,16.1,1.7,False
89997,2025-04-06,4.3,2,14.6,1.5,False
89998,2025-04-07,7.2,2,18.2,2.6,False
89999,2025-04-08,7.2,2,18.2,2.6,False